spring:
  profiles:
    active: ${ACTIVE_PROFILE:dev}

  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB}?useSSL=false
    password: ${MYSQL_DB_PASSWORD}
    username: ${MYSQL_DB_USERNAME}

  jpa:
    hibernate:
      ddl-auto: none
#    generate-ddl: false
#    show-sql: true

  sql:
    init:
      mode: always
      continue-on-error: false

server:
  port: ${SERVER_PORT}